@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --wz-dark-blue: #f30909;
  --wz-nav-gray: #f9f9f9;
  --wz-text-black: #171717; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --wz-dark-blue: #f30909;
    --wz-nav-gray: #f9f9f9;
    --wz-text-black: #171717; 
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
