@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --wz-classic-blue: #19336b;
  --wz-secondary-blue: #8799c2;
  --wz-light-gray: #f9f9f9;
  --wz-text-black: #171717; 
  --wz-classic-black: #171717;
  --wz-classic-white: #ffffff;
  --wz-classic-green: #5faf5f;
  --wz-secondary-green: #c8e6c9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --wz-classic-blue: #19336b;
    --wz-secondary-blue: #8799c2;
    --wz-light-gray: #f9f9f9;
    --wz-text-black: #171717; 
    --wz-classic-black: #171717;
    --wz-classic-white: #ffffff;
    --wz-classic-green: #5faf5f;
    --wz-secondary-green: #c8e6c9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
